* {
    --b: rgb(21, 139, 202);
    --v: rgb(142, 64, 214);
    --p: rgb(214, 64, 181);
}

body {
    background-color: #313131;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(117, 117, 117);
}

.container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

.card {
    width: 18%;
    height: 75vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.header {
    background: linear-gradient( var(--b), #fff);
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 30%;
    position: relative;
}

.card2 {
    background: linear-gradient( var(--v) 10%, #fff);
    background: linear-gradient( to top, var(--v), #fff 30%);

}
.card2>p{
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 0 48px;
    font-size: 1.4em;
    font-weight: 600;
}
.card3 .header {
    background: linear-gradient( var(--p) 10%, #fff);
}

canvas {
    position: absolute;
    top: 0;
}

.header p {
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 12px;
    font-size: 1.4em;
    font-weight: 600;
}

.main {
    height: 100%;
    text-align: center;
    background: linear-gradient(to top, var(--b), #fff 30%);
    border-radius: 0 0 10px 10px;
}

.card2 {
    background: linear-gradient( var(--v) , #fff 23% , #fff 78%, var(--v) );
}
 .card2 .main {
    background:transparent; 
} 

.card3 .main {
    background: linear-gradient(to top, var(--p), #fff 30%);
}

.content {
    padding: 20px 0 40px;
}

.main .content p:nth-child(1) {
    font-size: 2.5em;
    font-weight: 600;
    color: var(--b);
    padding: 30px 0;
}

.card2 .main .content p:nth-child(1) {
    color: var(--v);
}

.card3 .main .content p:nth-child(1) {
    color: var(--p);
}

.main .content p:nth-child(even) {
    margin: 0;
    background-color: rgb(241, 241, 241);
    padding: 12px 0;
}

.main p:nth-child(odd) {
    margin: 0;
    padding: 12px 0;
}

.card button {
    background-color: rgb(255, 255, 255);
    padding: 10px 50px;
    border: 2px solid var(--b);
    border-radius: 30px;
    color: var(--b);
    font-size: 1em;
    font-weight: 500;
}

.card2 button {
    border: 2px solid var(--v);
    color: var(--v);
}

.card3 button {
    border: 2px solid var(--p);
    color: var(--p);
}
.card2, .card3{
    position: relative;
}
.off {
    background-color:crimson;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    top: -10px;
    right: 10px;
}

.off p {
    margin: 5px;
    color: #fff;
    font-weight: 600;
}