* {
    --b: rgb(21, 139, 202);
    --v: rgb(142, 64, 214);
    --p: rgb(214, 64, 181);
}

body {
    background-color: #313131;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(117, 117, 117);
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

.card {
    width: 300px;
    min-height:80vh;
    border-radius: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    background: linear-gradient( var(--b), #fff 25%, #fff 75%, var(--b));
    display: none;
    margin: 20px 0;
}

.card2 {
    background: linear-gradient( var(--v), #fff 25%, #fff 75%, var(--v));
}

.card3 {
    background: linear-gradient( var(--p), #fff 25%, #fff 75%, var(--p));
}

canvas {
    position: absolute;
    top: 0;
}

.card>p {
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 0 25px;
    font-size: 1.4em;
    font-weight: 600;
}

.main {
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.content {
    padding: 20px 0 40px;
}

.main .content p:nth-child(1) {
    font-size: 2.5em;
    font-weight: 600;
    color: var(--b);
    padding: 40px 0;
}

.card2 .main .content p:nth-child(1) {
    color: var(--v);
}

.card3 .main .content p:nth-child(1) {
    color: var(--p);
}

.main .content p:nth-of-type(even) {
    margin: 0;
    background-color: rgb(241, 241, 241);
    padding: 12px 0;
}

.main p:nth-of-type(odd) {
    margin: 0;
    padding: 12px 0;
}

button {
    cursor: pointer;
}

.card button {
    background-color: rgb(255, 255, 255);
    padding: 10px 50px;
    border: 2px solid var(--b);
    border-radius: 30px;
    color: var(--b);
    font-size: 1em;
    font-weight: 500;
    transition: background-color 0.6s, border 0.6s, color 0.6s;
    cursor: pointer;
}

.card2 button {
    border: 2px solid var(--v);
    color: var(--v);
}

.card3 button {
    border: 2px solid var(--p);
    color: var(--p);
}

/*---+++++++*/

.card button:hover {
    background-color: var(--b);
    border: 2px solid #fff;
    color: #fff;
}

.card2 button:hover {
    background-color: var(--v);
    border: 2px solid #fff;
    color: #fff;
}

.card3 button:hover {
    background-color: var(--p);
    border: 2px solid #fff;
    color: #fff;
}

.card2, .card3 {
    position: relative;
}

.off {
    background-color: crimson;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    top: -10px;
    right: 10px;
}

.off p {
    margin: 5px;
    color: #fff;
    font-weight: 600;
}

.card2 .main {
    position: relative;
}

.card2 .main svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 55px;
    right: 60px;
}

.nav {
    margin: 5px;
}

.nav span {
    width: 15px;
    height: 15px;
    border: 2px solid var(--v);
    background-color: var(--v);
    border-radius: 12px;
    margin: 0 5px;
    display: inline-block;
}

.nav span:nth-child(1) {
    border-radius: 12px 0;
    border: 2px solid var(--b);
    background-color: var(--b);
}

.nav span:nth-child(3) {
    border-radius: 0 12px;
    border: 2px solid var(--p);
    background-color: var(--p);
}

.nav span:hover {
    cursor: pointer;
    background-color: #fff;
}

.right-left {
    width: 300px;
    height: 20px;
    z-index: 10;
    position: absolute;
}

.left, .right {
    width: 20px;
    height: 20px;
    position: absolute;
    border-top: 8px solid #fff;
    border-right: 8px solid #fff;
    border-radius: 8px;
    z-index: 3;
}

.right {
    right: -50px;
    transform: rotate(45deg);
}

.left {
    transform: rotate(-125deg);
    left: -50px;
}

.left:hover, .right:hover {
    cursor: pointer;
    border-color: rgb(79, 238, 142);
}

.select {
    background-color: #fff !important;
}